obj/
bin/
.vs/
*.suo
*.user
*.dbmdl
*.jfm
logi/
packages/
OutputDlls/
node_modules/
BuildLog/
npm-debug.log
package-lock.json
*.resx.temp
lcov.info
*.bak
.idea/
*.playlist
**/test-output/**/*
**/TestResults/**
**/Results/**
**/Medrio.Web/public/**/coverage/
src/*.psess
src/tests.playlist
#
# If you're ignoring a file or folder, consider using a pattern for all similar files or folders
#
src/Medrio.EDC/Medrio.Web/public/src/package-lock.json
src/Medrio.EDC/Core.Library/Utils/LocalizationResources/MedrioClientResource.tt-RU.resx
src/Medrio.EDC/Core.Library/Utils/LocalizationResources/MedrioResource.tt-RU.resx
src/Medrio.EDC/Medrio.Web/ctrl/flat-service/dist/
src/Medrio.EDC/Medrio.Web/ctrl/deployment-method-selector/dist/
src/Medrio.EDC/Medrio.Web/public/dist/
src/Medrio.EDC/Medrio.Web/public/src/common/dist/
src/Medrio.EDC/Medrio.Web/public/src/common/lib/
src/Medrio.EDC/Medrio.Web/public/src/common-edc/lib/
src/Medrio.EDC/Medrio.Web/public/src/common-edc/dist/
src/Medrio.Web/public/src/common/medrio-common.metadata.json
src/Medrio.EDC/Medrio.Web/public/src/common-edc/medrio-common-edc.metadata.json
src/Medrio.EDC/Medrio.Web/public/src/medrio-ui/dist/
src/Medrio.EDC/Medrio.Web/public/src/config/coverage/
src/Medrio.EDC/Medrio.Web/public/src/common/medrio-common.metadata.json
ToolKits/Medrio.TestRunner/testrunner.log
/src/Medrio.Edc.dbFree-pshetty.sln
